*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Inter;
}

p{
    font-weight: 500;
}
h1,h3{
    font-weight: 800;
    font-size: 1.2rem;
}

h1:hover{
    color: hsl(47, 88%, 63%);
}

.learning-btn{
    /* width: 60px; */
    background-color: hsl(47, 88%, 63%) ;
    border: none;
    padding: 7px 14px;
    font-weight: 800;
    border-radius: 3px;
}



p,.learning-btn,h1{
    color:hsl(0, 0%, 7%) ;
}

.paragraph-detail{
    color: hsl(0, 0%, 42%);
}
.blog-img{
    width: 100%;
    border-radius: 10px;
}

.main-container{
    background-color: hsl(47, 88%, 63%);
    /* width: 1440px; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 400px;
    width: 85%;
    gap: 20px;
    padding: 25px;
    border-radius: 20px;
    align-items: flex-start;
    border: 1px solid black;
    box-shadow: 10px 10px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-img{
    width: 30px;
}